{% extends 'base.html.twig' %}

{% block title %}Shtex World{% endblock %}

{% block body %}

<div class="container-fluid">
    <div id="root"></div>
    <h1>Hello ✅</h1>
    <p>
        <a href="{{ asset('/article') }}">lien article depuis symfony</a>
    </p>

</div>

{% endblock %}
